<h2 style="text-align:center">Sign Up!</h2>

<div style="text-align: center"><a href="/">Back</a></div>
<br>
<br>


<form class="" action="/users" method="post">
    <label for="name">First Name: </label>
    <input type="text" name="name" value="first">
    <br>
    <label for="name">Last Name: </label>
    <input type="text" name="name" value="last">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email" value="email">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" value="password">
    <br>
    <label for="password">Bio: </label>
    <input type="text" name="bio" value="about you">
    <br>
    <label for="password">Image URL: </label>
    <input type="text" name="image_url" value="www.example.com">
    <br>
    <input type="submit" name="" value="Create User">
   </form>

