<body style="background-color:pink;">
<div id="center">
<h3>Write Your Review Here</h3>

<form class="" action="/reviews" method="post">
    <label for="">Title</label>
    <input type="text" name="title" value="">
    <br>
    <label for="">Author</label>
    <input type="text" name="description" value="">
     <br>
    <label for="">Image Url</label>
    <input type="text" name="image_url" value="">
     <br>
    <label for="">Description</label>
    <input type="text" name="description" value="">
     <br>
    
    <input type="submit" name="" value="Create A Review">
    
</form>
</div>